* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* BODY */
body {
  height: 100vh;
  width: 100vw;
}
.container {
  width: 900px;
  margin: auto;
}
.carousel {
  width: 100%;
  height: 500px;
}
/* FLEX */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-9 {
  width: calc(100% / 12 * 9);
  height: 100%;
  position: relative;
}
.main-carousel {
  width: 100%;
  height: 100%;
}
.col-3 {
  width: calc(100% / 12 * 3);
  height: 100%;
}
.column {
  flex-direction: column;
  height: 100%;
}
.row {
  height: calc(100% / 5);
  width: 100%;
  cursor: pointer;
}
/* IMAGES */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row:nth-child(1) img {
  object-position: 0 -50px;
}
.row:nth-child(2) img {
  object-position: 0 -60px;
}
.row:nth-child(3) img {
  object-position: -40px;
}
.main-carousel:nth-of-type(5) img {
  object-position: -525px;
}
.main-carousel:nth-of-type(6) img {
  object-position: -400px;
}
.main-carousel:nth-of-type(7) img {
  object-position: 0 -150px;
}
/* OBJECTS IN CAROUSEL*/
.image-text {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;
  padding: .5rem;
  background-color: rgba(0,0,0, .4);
}
/* INACTIVE CLASSES*/
.inactive {
  filter: grayscale(1);
}
.hidden {
  display: none;
}
/* BUTTONS */
.previous i,
.next i {
  background-color: rgba(189, 195, 199, 0.75);
  transition: background-color 0.1s;
  border-radius: 50%;
  padding: 6px;
  margin: 6px 0;
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
.previous i {
  top: 0;
}
.next i {
  bottom: 0;
}
.previous i:hover,
.next i:hover {
  background-color: rgba(189, 195, 199, 1);
}

